/* Rouge Syntax Highlighting - Bright & Vibrant (JavaScript Enhanced - Refined) */

.highlight {
    background-color: #fafafa;
    padding: 10px;
    overflow-x: auto;
    border-radius: 5px;
    line-height: 1.5;
}

p code.language-plaintext.highlighter-rouge{
    font-family: 'Courier New',Courier,ui-monospace,monospace;
    color:#379fed;
    background-color: #f1f1f1;
    border:1px inset rgba(0,0,0,0.5);
}

.menu-item a span,span.label{
    font-family: Ubuntu,'IBM Plex Sans';
    font-weight:400;
}
