/* Rouge Syntax Highlighting - Bright & Vibrant (JavaScript Enhanced - Refined) */

.highlight {
    background-color: #f9fefe;
    padding: 10px;
    overflow-x: auto;
    border-radius: 5px;
    line-height: 1.5;
}

/* using this as a cheat. colors i had here i'm giving up should be changed really in the raykooyenga skin but sass forges colors for syntax based on those and despite changeing them im stuck in pastel mode. worry later this makes it readable */
.highlight span  {
  filter: 
    hue-rotate(300deg)
    saturate(7)
    invert(.1)
    /*drop-shadow(2px 1px 1px #4444dd)*/
    /*drop-shadow(0.052em 0.052em 0px #4444dd)*/
    brightness(0.5)
  ;
    text-shadow: rgb(176, 176, 176) 0px 0.032em 0px, rgba(0, 0, 0, 0.15) 0px 0.15em 0.11em, rgba(0, 0, 0, 0.1) 0px 0.25em 0.021em, rgba(0, 0, 0, 0.1) 0px 0.32em 0.32em;
}


p code.language-plaintext.highlighter-rouge{
    font-family: 'Courier New',Courier,ui-monospace,monospace;
    color:#379fed;
    background-color: #f9fefe;
    border:1px inset rgba(0,0,0,0.5);
}

.menu-item a span,span.label{
    font-family: Ubuntu,'IBM Plex Sans';
    font-weight:400;
}


p code.language-plaintext.highlighter-rouge{
    font-family: 'IBM Plex Mono',ui-monospace,monospace;
    /*color:#379fed;
    background-color: #f9fefe;
    color:black;
    background-color: #f9fcfb;*/
   color:white;
   background-image: radial-gradient(50% 50% at top center, rgba(0, 0, 0, 0.66), #262626), linear-gradient(180deg, #fff, #262626);
   box-shadow: 0 -8px 13px rgba(0,0,0, 0.85);

    /*border:1.6px inset rgba(0,0,0,0.3);
    drop-shadow:4px 4px 10px rgba(0,0,0,0.3);*/
    border:1.6px inset rgba(72,72,72,0.5);
    drop-shadow:10px 4px 20px rgba(72,72,72,0.3);
}
.highlight span{
    filter:hue-rotate(310deg) brightness(.655) saturate(2);
}

