*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
font-family: "Raleway", "IBM Plex Sans", "Merriweather","Adamina","PT Serif","Inter",Ubuntu,medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color:#111;
  /*color:rgb(26,26,26);*/
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04),
    inset 0 0 0 1px rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04), inset 0 0 0 1px rgba(0, 0, 0, 0.09);
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  opacity: 0.98;
  font-size: 16px;
  line-height: 1.4;
}


hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--border-width) solid;
  opacity: 0.25;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--heading-color);
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}


/*
a:hover{
  color:#0FA0CE;
  font-weight:bolder;
}
*/
code{
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 100%; /*90%;*/
  white-space: nowrap;
  font-family: "Inter","Open Sans","Oxygen", monospace;
  background: #fafafa;
  border: 2px inset #E1E1E1;
  border-radius: 4px; 
  opacity:100;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; 
}

.highlighter-rouge,.highlight{
  overflow:scroll;
  line-height: .92;
  overflow-wrap: break-word;
  word-wrap: break-word !important;
  white-space: pre-wrap;
  word-break: break-word;
  text-overflow: ellipsis;
font-family: "Courier New", "Inter","Open Sans","Oxygen", monospace;
}

.highlighter-rouge, .highlight, div.highlighter-rouge, figure.highlight,code,p code{
opacity:100;
background-color: #f9f9f9;
border: 0;
font-family: "Inter","Open Sans","Oxygen", monospace;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-size:1em;
line-height:111%;
spacing:-0.016em;
}

p code,code.language-plaintext.highlighter-rouge,
p>code.language-plaintext.highlighter-rouge {
text-size-adjust:90%;
font-size:.8em;
line-height:90%;
opacity:100;
color:rgb(72,72,72);
border:1px rgb(27,27,27);
background:#fafafa;
}





.site-title > a > span {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  position:absolute;
  z-index:1000;
  padding: 1em;
  overflow: hidden;
  border: none;
  font: normal 3.8rem "Audiowide", Helvetica, sans-serif;
  text-overflow: ellipsis;
  animation: shiftAnim 3s linear 1;
  -webkit-animation: shiftAnim 3s linear 1;
  max-width: 600px;
  word-wrap: break-word;
  line-height: 70%;
  letter-spacing: -.5px;
    left:110px;
  color: #fcff00;
        background: -webkit-linear-gradient(left, #fcff00, #bf0000);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

@keyframes shiftAnim {
 from {
    margin-top:40px;
    max-width: 2px;
  }
  to {
    margin-top:2px;
    max-width: 600px;
  }
}

@-webkit-keyframes shiftAnim {
  from {
    margin-top:40px;
    max-width: 2px;
  }
  to {
    margin-top:2px;
    max-width: 600px;
  }
}


a{
  color: rgba(0, 0, 0, 0.83);
  
}
a:hover{
  color: rgba(0, 0, 0, 0.83);
  font-weight:bold;
}
li{position:relative}
ul{display:flex;gap: 5px;}
a.btn {
  display:inline-block;
  min-width:120px;padding:5px 3px 5px 3px;
  overflow: hidden;
  transition: all 0.3s ease;
  background: #010101; /*#181c22;*/
  color: #fff;
  border: 1px #010101;
}
a.btn:before{
  content: "";
  background-color: #010101;
  border: 1px #010101;
  color: #fff;
  font-style: normal;
  /*animation: shiny-btn 3s ease-in-out infinite;*/
}

a.btn:focus,
a.btn:hover {
  border-style: groove;
  border-color: #010101;
  border-width: 1px;
  color: #010101 !important;
  fill: #010101;
  stroke: #010101;
  background-color: #fff;
}


a.btn:active {
  filter: invert(0%) sepia(22%) saturate(0%) hue-rotate(223deg) brightness(93%)
    contrast(96%);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
  /*transform: scale(0.9);*/
  transform: scale3d(0.9, 0.9, 0.95);
}


/*
@-webkit-keyframes shiny-btn {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
   100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
*/

/* .sidebar .menu li underline 
a[itemprop="url"] {
display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient(#000 0 0);
  background-position: 0 50%; 
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; 
}
a[itemprop="url"]:hover {
  background-position: 100% 100%; 
  background-size: 100% 2px;
}
*/


h1#page-title{
    font-family: 'Lo-Res 9 Plus OT Wide Bold', sans-serif;
    color: rgb(32,33,36);
    font-size:52px;
    letter-spacing:.24rem;
line-height:55px;
}


.menu-item a span,span.label{
    font-family: Ubuntu,'IBM Plex Sans';
    font-weight:400;
}
           
.contact-list a span.icon{
  size:72px;display:inline-block;
}           
.contact-list a span.label{
  display:none;
}



@media screen and (min-width: 320px) {
.intro-title {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 26px;
  font-size: calc(30px + (64 - 30)*(100vw - 320px)/(1400 - 320));
  /*font-size: calc(16px + (36 - 16) * ((100vw - 320px) / (2560 - 320));*/
}
      .sidebar .menu {
        font-size: calc(20px + 14*((100vw - 320px) / 960));
    }
  
 .site-title > a > span {
    font-size:2.4rem;
   left:60px;
  }

  
div.entry-content p{
  font-size:1.3em!important;
}

div.entry-excerpt p{
  font-size:1.1em!important;
}


.sidebar .menu li {
    margin-bottom: .5rem;
}
  
}





@media screen and (min-width:768px){
  .site-title > a > span {
    left:110px;
    font-size:3.4rem;
  }
}

@media screen and (min-width:1199px){
  .site-title > a > span {
    left:110px;
    font-size:5rem;
  }
  .intro,.intro-image {
    white-space:"";
   padding-top:0;
   padding-bottom:0;
    margin-top:0rem;
    margin-bottom:0rem;
    font-size:2.4rem;
  }
  .intro-title{
    font-size:7rem;
    z-index:20;
  }
}
